<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext
    instead of the default XmlWebApplicationContext -->
    <context-param> 
        <param-name>contextClass</param-name> 
        <param-value>
            org.springframework.web.context.support.XmlWebApplicationContext
        </param-value>
    </context-param>
    <!-- Configuration locations must consist of one or more comma- or space-delimited
    fully-qualified @Configuration classes. Fully-qualified packages may also be
    specified for component-scanning -->
    <context-param> 
        <param-name>contextConfigLocation</param-name> 
        <param-value>classpath:spring-context.xml</param-value>
    </context-param>
    <!-- Bootstrap the root application context as usual using ContextLoaderListener -->
    <listener> 
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>com.pj.web.listeners.ContextListener</listener-class>
    </listener>
    
    <filter>
        <description>客户端服务过滤器</description>
        <filter-name>ClientService</filter-name>
        <filter-class>com.pj.web.filters.ClientServiceFilter</filter-class>
    </filter>
    <filter>
        <description>后台管理权限校验过滤器</description>
        <filter-name>AdminAuth</filter-name>
        <filter-class>com.pj.web.filters.AdminAuthenticationFilter</filter-class>
        <init-param>
            <description>要跳过的URI,逗号隔开多个</description>
            <param-name>skip</param-name>
            <param-value>/admin/login.do</param-value>
        </init-param>
    </filter>
    <filter>
        <description>设置编码过滤器</description>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.pj.web.filters.SetCharsetFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>ClientService</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuth</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    
    
    <servlet>
        <servlet-name>ValidationCodeServlet</servlet-name>
        <servlet-class>com.pj.utilities.servlets.ValidationCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidationCodeServlet</servlet-name>
        <url-pattern>/random.jpg</url-pattern>
    </servlet-mapping>
    
    <!-- Declare a Spring MVC DispatcherServlet as usual -->
    <servlet>
        <servlet-name>dispatcher</servlet-name> 
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- Configure DispatcherServlet to use AnnotationConfigWebApplicationContext
            instead of the default XmlWebApplicationContext -->
        <init-param> 
            <param-name>contextClass</param-name> 
            <param-value>
                org.springframework.web.context.support.XmlWebApplicationContext
            </param-value>
        </init-param>
        <!-- Again, config locations must consist of one or more comma- or space-delimited
        and fully-qualified @Configuration classes -->
        <init-param> 
            <param-name>contextConfigLocation</param-name> 
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
    </servlet>
    <!-- map all requests for *.do to the dispatcher servlet -->
    <servlet-mapping> 
        <servlet-name>dispatcher</servlet-name> 
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <exception-type>java.​lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
